html
<main>
<form>
<label> </label>
<input>
</form>
</main>
<main>
    <form>
        <label for="nomesobrenome">Nome e sobrenome</label>
        <input type="text" id="nomesobrenome">

        <label for="email">Email</label>
        <input type="text" id="email">

        <label for="telefone">Telefone</label>
        <input type="text" id="telefone">

        <input type="submit" value="Enviar formulário">
    </form>
</main>
main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
<main>
<form>
<label> Grifinória </label>
<input type="radio" value="grifinoria" id="radio-grifinoria">
<label> Sonserina </label>
<input type="radio" value="sonserina" id="radio-sonserina">
<label> Lufa-Lufa </label>
<input type="radio" value="lufa-lufa" id="radio-lufa-lufa">
<label> Corvinal </label>
<input type="radio" value="corvinal" id="radio-corvinal">
<input type="submit" value="Enviar formulário" />
</form>
</main>
